body{
    background-color: white;

    /*Jeg vil nok gjerne bytte skrift senere*/
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.6em;

    margin: 0; /*Fjerner det bitte lille tomrommet på sidene av nettsiden*/
}

.container{
    width: 85%; /**/
    margin: auto; /*Setter alt i konteineren i midten*/
}
.container img{
    width: 25%;
    float: right;
    box-sizing: border-box;
}


/*Overskrift*/
.box-1{
    background-color: lightskyblue;
    width: 100%; /**/
    margin: auto; /*Setter alt i overskriften i midten*/
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
}
.box-1 h1{
    padding-left: 35px;/*Må kanskje gjøre noe med med måten denne skaleres ned på med størrelser på skjermen?*/
}

/*Innledning*/
.box-2{
    width: 90%;
}
.box-2 h2{
}

/*Hoveddel*/
/*Vil få med videoer og bilder. Videoene skal gjerne kunne spilles av, eller så kan GIFs funke*/
.block{
    float: left;
    width: 85%;
}
.block img{ /*Alle bildene som er med*/
    float: left;
    width: 40%;
}
.block p{
    padding-top: 0px;
    padding-bottom: 0px;
}
#hoveddel{
    margin-bottom: 2px;
}
.block h3{
    margin-top: 0px;
    margin-bottom: 10px;
}
.block p{
    margin-top: 1px;
}
.block iframe{ /*YouTube videoene*/
    width: 40%;
    height: 60%;
}