body{
    background-color: white;

    /*Jeg vil nok gjerne bytte skrift senere*/
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.7em;

    margin: 0; /*Fjerner det bitte lille tomrommet på sidene av nettsiden*/
}

.container{
    width: 85%; /**/
    margin: auto; /*Setter alt i konteineren i midten*/
}
.container img{
    width: 25%;
    float: right;
    box-sizing: border-box;
}

#myBtn{ /*Knappen som egentlig skal ta deg til toppen*/
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: lightskyblue; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
#myBtn:hover{
    background-color: lightcoral; /* Add a dark-grey background on hover */
}
/*For at knappen faktisk skal fungere trenger man JavaScript*/


/*Overskrift*/
.box-1{
    background-color: lightskyblue;
    width: 100%; /**/
    margin: auto; /*Setter alt i overskriften i midten*/
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
}
.box-1 h1{
    padding-left: 35px;/*Må kanskje gjøre noe med med måten denne skaleres ned på med størrelser på skjermen?*/
}

/*Innledning*/
.box-2{
    width: 90%;
}
.box-2 h2{
    text-decoration: underline lightskyblue;
}

/*Hoveddel*/
.block{
    float: left;
    width: 85%;

    border-bottom: lightskyblue 5px dotted; /*Det blå som rammer inn boksene*/
    padding: 10px;
}
.block img{ /*Alle bildene som er med*/
    float: left;
    width: 40%;
}
.block p{
    padding-top: 0px;
    padding-bottom: 0px;
}
#hoveddel{
    margin-bottom: 2px;
    border: lightskyblue 5px dotted; /*Det blå som rammer inn boksene*/
    padding: 5px;
}
.block h3{
    margin-top: 0px;
    margin-bottom: 10px;
    text-decoration: underline lightskyblue;
}
.block p{
    margin-top: 1px;
}

/*.block iframe{ /*YouTube videoene*/
   /* width: 40%;
    height: 50%;
}*/
